/*oneUI tweak: set background color to #fff*/
html{background-color: #fff;}
.lotusForm {
	/*background-color: #fff;*/
	}

/*oneUI tweak: remove left and right shadow border*/
.lotusContent{
	/*border: 1px solid #ccc !important;
	-webkit-box-shadow: #eee 0 2px 10px !important;
	-moz-box-shadow: #eee 0 2px 10px !important;
	box-shadow: #eee 0 2px 10px !important;*/
	}
	
.lotusColLeft,.lotusColRight{
	width:300px;
	/*border:1px solid blue;*/
	margin:20px 0px 0px 0px;
	padding:0px;
	}
	
.lotusColLeft .lotusSection, .lotusColLeft .lotusInfoBox, .lotusColLeft .lotusWidget, .lotusColLeft .lotusWidget2, .lotusColRight .lotusSection, .lotusColRight .lotusInfoBox, .lotusColRight .lotusWidget, .lotusColRight .lotusWidget2 {
margin:0px;
}

.lotusBanner ul.lotusUtility li a img{
	margin-right:5px;
	}
.lotusBanner ul.lotusUtility li.lotusSelected a{
	color:#fff;
}

.lotusBanner ul.lotusUtility li a{
	color:#bbb;
}

.xspCheckBox, .xspRadioButton{border:0px;padding-left:0px;}

a{outline:0 !important;}
button{outline:0 !important;}

button:hover{cursor:pointer}
input.xspCheckBoxViewColumn{
	border:1px solid red;
	margin-right:20px;
	}
/*Errormessage*/
.formError{margin:0px 0px 0px 10px;padding:2px 5px 2px 5px;border:1px solid red;background-color:red;color:white;}
.lotusForm h2.errorInfoTitle{margin: 25px 15px 15px 0px;}
.lotusForm h2.searchInfoTitle{margin: 25px 15px 15px 0px;}

#mainContainer td input.xspInputFieldEditBox{
	min-width: 200px;
}

label.formLabel{
	display: block;
    float: left;
    width: 150px;
    font-weight:bold;
	}

#mainContainer table.tableForm{
	
	}

#mainContainer h2{margin-left:0px;}

#mainContainer .contentTypeContainer{
	
	}
	
#mainContainer input:disabled
{
	background:#eee;
}

#mainContainer label.inputLength{
	display: block;
    float: left;
    width: 205px;
}
#mainContainer .xspColumn{
	min-width: 200px;
	border:0px;
	}
#mainContainer .c.dataTableColumnText{
	width: 205px;
	}
	
.debug{border:1px solid red;}
/*Survey styling*/
#surveyContainer{
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	padding: 10px;
  	margin:20px;
  /*background-color: #ccc;*/
  	border: 1px solid #ccc;
	}
.surveyQuestionsContainer{
	margin:10px;
	}
	
.panelField{
	
	}

h1.surveyHeader{
	margin-left:10px;
	}
/*Poll styling*/
.poll{}
.poll .lotusTable{
	
	}

.poll table.pollTable{
	width:100%;
	border:0px;
	}
	
.xspColumn .formLabel{
	display: block;
	float: left;
	font-weight:bold;
	}
.pollTotals{
	width: 50px;
	}
/*Generic ul list styling*/
.widgetList{
	list-style-type:none;
	padding:0px;
	}
	
.widgetListItem{
	border-bottom:1px solid #ddd;
	margin:0px 0px 5px 0px;
	padding:5px;
	}

/* tag clouds*/
.tagCloudContainer{
	margin:25px 0px 0px 10px;
	}
.tagCloud a.xspFontSize10, .tagCloud a.xspFontSize10:visited{font-size:150%;color:#cc3399;font-weight:bold;text-decoration:none;}
.tagCloud a.xspFontSize9, .tagCloud a.xspFontSize9:visited{font-size:140%;color:#3399cc;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize8, .tagCloud a.xspFontSize8:visited{font-size:130%;color:#cc3399;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize7, .tagCloud a.xspFontSize7:visited{font-size:120%;color:#76c34d;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize6, .tagCloud a.xspFontSize6:visited{font-size:110%;color:#cc3399;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize5, .tagCloud a.xspFontSize5:visited{font-size:100%;color:#76c34d;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize4, .tagCloud a.xspFontSize4:visited{font-size:98%;color:#3399cc;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize3, .tagCloud a.xspFontSize3:visited{font-size:96%;color:#663399;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize2, .tagCloud a.xspFontSize2:visited{font-size:93%;color:#66cc33;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize1, .tagCloud a.xspFontSize1:visited{font-size:90%;color:#333399;font-weight:bold;text-decoration:none}
.tagCloud a.xspFontSize0, .tagCloud a.xspFontSize0:visited{font-size:80%;color:#3399cc;font-weight:bold;text-decoration:none}

.tagCloud a.filter{text-decoration:underline}
.tagCloud a:visited.filter{text-decoration:underline}

#tag_filter_overview{
	position: relative;
	float: left;
	width:100%;
	margin:10px 0px 20px 0px;
	padding:10px 0px 0px 0px;
	border-top:1px solid #C4C4C4;
	}

#tag_filter_overview a{
	position: relative;
	float: left;
	margin-right:5px;
	}
#tag_filter_overview #tag_filter{
	position: relative;
	float: left;
	font-weight:bold;
	}

/*Search style*/
.searchIcon{
	width:50px;
	}
.searchIcon img{
	width:32px;
	height:32px;
	}	
.searchTitle{
	width:100%;
	font-size:12px;
	font-weight:bold;
	}
.searchMeta{
	width:100%;
	color:#ccc;
	}
.searchInfoText{
	position:relative;
	float:left;
	padding:5px;
	}
/*General Styles*/
.noBorder{
	border:0px;
	}
.bold{
	font-weight:bold;
	}
.noLeftMargin{
	margin-left:0px;
	}	
	