body{
	font-family:tahoma, sans-serif;
	text-align:center;
	}

/* scoreboard */ 
.container{
	width:90%; 
	margin:0 auto;
	}
	
.leftColumn{
	position:relative;
	float:left;
	width:30%;
	height:auto;
	min-height:100px;
	}
	
.rightColumn{
	position:relative;
	float:right;
	width:30%;
	height:auto;
	min-height:100px;
	}
	
.middleColumn{
	position:relative;
	float:left;
	width:40%;
	height:auto;
	min-height:100px;
	text-align:center;
	}
.lotusForm {
	background:transparent;
	}
	
.leftColumn .scoreboardLogo, .rightColumn .scoreboardTeam{
	width:100%;
	font-size: 2em;
	font-weight:bold;
	text-align:center;
}

.leftColumn .scoreboardLogo .scoreboardLogoContainer, .rightColumn .scoreboardLogo .scoreboardLogoContainer {
	margin: 0 auto;
	}

.leftColumn .scoreboardNumbers, .rightColumn .scoreboardNumbers {
	width:100%;
	font-size: 2em;
	font-weight:bold;
	text-align:center;
}

.scoreboardScorersLeft {
	float:left;
	width:10%;	
	}

.scoreboardMessage{
	position:relative;
	float:left;
	width:100%;
	border:1px solid red;
	}

